body {
	background: url(../images/bg.png);
	color: #fff;
}

.promo img {
	width: 100%;
}

.Showcase .row:after, .Showcase .row:before {
	content: " ";
	display: block;
	height: 10px;
	background: rgba(255, 255, 255, 0.5);
}

.Showcase .row {
	background: url(../images/bugatti.png) center center no-repeat;
	background-size: cover;
	background-color: rgba(77, 77, 77, 0.3);
}

.Showcase b {
	color: #e66800;
}

.Showcase .h1 {
	margin-top: 60px;
}

.Showcase button {
	margin: 30px 0px 50px;
	font-size: 130%;
}

.logo img {
	margin: 20px 0px;
}

.navbar {
	margin-bottom: 0px;
	border: 0px;
	border-radius: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	background: linear-gradient(#555, #484848);
}

.slider-nav .navbar-nav .dropdown-menu>li>a, .slider-nav .navbar-nav>li>a {
	padding: 20px;
	color: #fff;
	text-shadow: 1px 1px 1px #151515;
}

.slider-nav .navbar-nav>li>a:hover {
	text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3), -1px -1px 10px rgba(255, 255, 255, 0.3), -1px 1px 10px rgba(255, 255, 255, 0.3), 1px -1px 10px rgba(255, 255, 255, 0.3);
}

.slider-nav li.active a {
	background: linear-gradient(#ff821a, #e66800);
	position: relative;
}

footer .row.text-center {
	margin-right: 0px;
	margin-left: 0px;
}

.navbar-nav>.open>a {
	background: linear-gradient(#ff821a, #e66800);
}

.dropdown-menu {
	background-color: #e66800 !important;
	border: none;
}

.slider-nav .navbar-nav li .dropdown-menu>li>a {
	padding: 3px 14px;
	font-size: 14px;
	font-family: Arial;
	font-weight: normal;
}

.slider-nav .navbar-nav li .dropdown-menu>li>a:hover {
	background: rgba(0, 0, 0, 0.2);
}

.slider-nav .navbar-nav li .dropdown-menu {
	border-radius: 0px;
}

.slider-nav .modal-body .input-group {
	margin-bottom: 10px;
}

.slider-nav .modal-body .create a {
	color: #000;
	text-shadow: none;
	font-size: 15px;
}

.slider-nav .modal-body .create {
	margin-top: 20px;
}

.carousel-control.left {
	background-image: none;
	margin-left: 2%;
}

.carousel-control.right {
	background-image: none;
	margin-right: 2%;
}

.carousel-control.right:hover {
	margin-right: 1%;
}

.carousel-control.left:hover {
	margin-left: 1%;
}

a.carousel-control {
	top: 35%;
	bottom: auto;
	width: auto;
}

.carousel-caption {
	background: rgba(0, 0, 0, 0.4);
	bottom: 0px;
	right: 0%;
	left: 0%;
	padding: 10px 0px 30px 10px;
	text-align: left;
}

.carousel-indicators {
	bottom: 0px;
}

.carousel-indicators {
	width: 30%;
	right: 0px;
	margin-left: 0%;
	left: auto;
}

.carousel-indicators .active, .carousel-indicators li {
	width: 70px;
	height: 4px;
	margin: 1px;
	border: 0px;
	border-radius: 0px;
	background: #fff;
}

.carousel-indicators .active {
	background: #e66800;
}

.carousel-caption h3, .carousel-caption p {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

.carousel-caption p {
	font-size: 15px;
}

.promo img+p {
	margin: 20px 0px;
}

.promo .col-sm-4 {
	margin-top: 8%;
	margin-bottom: 10%;
}

.btn-orange span.glyphicon {
	padding: 0px;
}

.btn-orange {
	padding: 5px 10px;
	background: #ff821a;
	color: #fff;
}

.btn.btn-orange:focus, .btn.btn-orange:hover {
	background: #ff821a;
	color: #fff;
	z-index: 0;
	transition: .4s linear;
}

.btn-orange:last-child {
	background: #e66800;
}

.btn-group:hover .btn-orange:last-child, .btn-group:focus .btn-orange:last-child {
	padding-left: 0px;
	transition: .4s linear;
}

.btn-group:hover .btn-orange:first-child, .btn-group:focus .btn-orange:first-child {
	padding-left: 15px;
	transition: .4s linear;
	padding-right: 15px;
}

.blockquote {
	margin: 5% 0%;
}

.blockquote figcaption {
	margin-top: 10px;
}

.blockquote img {
	border-radius: 50%;
	width: 100%;
}

.blockquote p {
	margin-top: 0px;
	padding: 0px 70px 20px;
	font-family: "Coming Soon";
}

hr.bottom, hr.top {
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 2%, #000, rgba(255, 255, 255, 0) 98%);
	height: 1px;
	border: 0px;
	margin: 0px;
}

hr.bottom {
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 2%, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 98%);
}

.Posts {
	margin-bottom: 60px;
}

.Posts .col-sm-4 {
	margin-top: 40px;
}

.Posts address {
	padding-bottom: 20px;
	border-bottom: 1px dotted #aaa;
}

.Posts p {
	background: rgba(92, 92, 92, 0.3);
	border: 1px solid rgba(170, 170, 170, 0.4);
	border-radius: 50%;
	color: #fff;
	padding: 7px 12px;
	display: inline-block;
	line-height: 15px;
}

.Posts span {
	color: #aaa;
}

.Posts .col-xs-3 {
	text-align: center;
}

.Posts .col-xs-9 a {
	color: #e66800;
	font-weight: bold;
}

.Posts .col-sm-4>.row {
	margin-bottom: 15px;
}

.Posts button {
	margin-top: 10px;
}

footer p {
	color: #aaa;
}

footer img {
	margin: 40px 0px 30px;
	opacity: .6;
}

footer img:hover {
	opacity: 1;
	margin: 38px 0px 32px;
}

footer ul:hover li a {
	color: #aaa;
}

footer ul>li>a:hover, footer ul>li>a {
	color: #fff;
	text-decoration: none;
	transition: .3s linear 0s;
}

footer ul>li>a:hover {
	text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3), -1px -1px 10px rgba(255, 255, 255, 0.3), -1px 1px 10px rgba(255, 255, 255, 0.3), 1px -1px 10px rgba(255, 255, 255, 0.3);
}

.modal {
	color: #000;
}

.dropdown-header {
	padding: 3px 14px;
	font-weight: bold;
	color: #fff;
	border-bottom: 1px dotted #fff;
}

.language {
	margin: 17px;
}

.search {
	margin-top: 15px;
	padding: 0px 10px;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(124, 124, 124, 0.3);
	z-index: 0;
}

.search button, .search form>i, .search input, .search ul>li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.search ul>li>a>i, .search ul>li>a {
	color: #fff;
	background: #545454;
	text-align: center;
	line-height: 40px;
}

.search ul>li>a>i, .search ul>li>a, .search input {
	display: inline-block;
	width: 40px;
	height: 40px;
}

.search ul, .search input, .search button {
	float: right;
}

.search input {
	position: relative;
	background: transparent;
	text-indent: -200px;
	border: 1px solid #fff;
	margin-left: 10px;
	transition: .2s linear;
	color: transparent;
	padding: 0px 10px;
	cursor: pointer;
	z-index: 99;
}

.search button:focus+input, .search input:focus {
	background: #fff;
	text-indent: 0px;
	color: #aaa;
	width: 200px;
	transition: .3s linear;
	cursor: text;
	z-index: 1;
}

.search .fa-search, .search button {
	position: relative;
	height: 40px;
	width: 40px;
	border: 0px;
	color: #fff;
	background: #e66800;
	text-shadow: 1px 1px 1px #9a4500;
	text-align: center;
	line-height: 38px;
	z-index: 5;
	margin-left: -40px;
}

.search button i {
	position: absolute;
	margin-left: 0px;
	top: 0px;
	left: 0px;
	background: #fff;
	color: #aaa;
	text-shadow: none;
}

.search button:focus~.fa-search, .search input:focus~.fa-search {
	display: none;
}

.search form {
	position: relative;
}

.search .fa-search {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 10;
	background: #fff;
	color: #aaa;
	text-shadow: none;
}

.search ul>li>a>i.fa-facebook:hover, .search ul>li>a>i.fa-facebook {
	background: #3B5998;
}

.search ul>li>a>i.fa-twitter:hover, .search ul>li>a>i.fa-twitter {
	background: #00ABF1;
}

.search ul>li>a>i.fa-youtube:hover, .search ul>li>a>i.fa-youtube {
	background: #CF2200;
}

.search ul {
	margin-bottom: 0px;
}

.search ul>li>a>i.fa-google-plus:hover, .search ul>li>a>i.fa-google-plus {
	background: #D0422A;
}

.search input:focus+ul>li>a>i, .search ul:hover>li>a>i {
	background: transparent;
	transition: .3s linear;
}

.language:hover>li>a>img {
	opacity: .3;
}

.language>li:hover>a>img {
	opacity: 1;
}

.OffLine {
	margin: 0px auto;
	width: 70%;
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}
	.slider-nav .navbar-nav li>a {
		padding: 5px 10px;
	}
	.search {
		width: 100%;
	}
	.OffLine {
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.navbar-collapse {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 350px;
	}
	.slider-nav .navbar li.active:after {
		z-index: 999;
		position: absolute;
		left: 35%;
		content: " ";
		display: inline-block;
		border: 10px solid transparent;
		border-top: 10px solid #e66800;
	}
}

p.result {
	display: inline-block;
	text-align: center;
	padding: 20px;
	border: 5px solid #d0d0d0;
	width: 20%;
}

.result .small {
	font-size: 13px;
}

.content {
	background: #fff;
	color: #000;
}
